@import '~antd/dist/antd.css';

:root {
  --primary-color:  #1890ff;
  --secondary-color: #fff !important;
  --background-color: #f7f7f7;
  --black: #393939;
  --red: #ff4d4f;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: var(--primary-color); 
}
::-moz-selection {
  background: var(--primary-color); 
}

a {
  color: var(--black);
}

a:hover {
  color: var(--primary-color);
}

body {
  background-color: var(--background-color);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout-header {
  background: var(--secondary-color);
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
}

.title-holder {
  text-align: center;
  position: relative;
  padding: 20px 0 20px;
  margin: 0 0 20px;
}

.title-holder:after {
  transform: translateX(-50%);
  content: '';
  background: var(--primary-color);
  position: absolute;
  bottom: 10;
  left: 50%;
  height: 3px;
  width: 50px;
}

.title-holder h2 {
  font-size: 24px;
  margin: 0;
}
